@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  background-color: #121214;
}
body {
  position: relative;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
.caret {
  animation: cursor-blink 0.75s infinite;
}
